<div class="wrapper">
    <header class="header">
        <div class="aside title">
            <h1><a routerLink="/overview">{{ page_title }}</a></h1>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search.." ng-model="searchBox">
            <button class="button" type="submit">Search</button>
        </div>
        <div class="aside profile">
            <span>{{ user_name }}</span>
            <button class="button">Log out</button>
        </div>
    </header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <aside class="aside lefthand-menu">
        <nav class="main-navigation">
            <ul>
                <li><a routerLink='/overview'>Overview</a></li>
                <li><a routerLink='/models'>Models</a></li>
            </ul>
        </nav>
    </aside>
    <aside class="aside righthand-menu">
        <nav class="second-navigation">
            <ul>
                <li><a routerLink="/creator">+</a><span class="button-text">New Model</span></li>
            </ul>
        </nav>
    </aside>
</div>