$color-ing-orange: #FE7A22;
$color-ing-orange-dark: #c65f19;
$color-heading1: $color-ing-orange;
$color-heading2: #4c4c4c;
$color-text: #303030;
$color-link: #23bfd3;
$color-link-hover: #198f9e;
$color-background: #f5f5f5;
$color-background-light: white;